* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(27, 27, 34);
    display: flex;
    place-items: center;
    min-height: 100vh;
  }
  body main {
    padding-top: 1.5em;
    padding-left: 4em;
    padding-right: 10em;
    padding-bottom: 3em;
  }
  main {
    display: grid;
    grid-template-areas:
      "a a b"
      "c d d"
      "c e e";
    gap: 15px;
    margin: auto;
    grid-template-rows: 220px 110px 110px;
    grid-template-columns: 250px 120px 220px;
    background-color: rgb(19, 14, 43);
  }
  .firstbox {
    background-color: orangered;
    grid-area: a;
  }
  .secondbox {
    background-color: orange;
    grid-area: b;
  }
  .thirdbox {
    background-color: rgb(23, 160, 92);
    grid-area: c;
  }
  .fourthbox {
    background-color: rgb(19, 165, 190);
    grid-area: d;
  }
  .fifthbox {
    background-color: rgb(19, 165, 190);
    grid-area: e;
  }
  